<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bruker lagt til</title>
</head>
<body>
  <h1>Lagt til bruker</h1>
  <p>Bruker med brukernavn {{ uname }} er lagt til.</p>
  <p><a href="addUser.php">Leg til en ny bruker</a>.</p>
</body>
</html>
